.venv
__pycache__
*.pyc
.DS_Store
.vscode
.env
.env.local
.env.*.local
.idea
*.log
coverage
htmlcov
.pytest_cache
migrations
instance
*.sqlite3
*.db
*.sqlite
celerybeat-schedule
*.egg-info
dist
build
*.egg
.coverage
.tox
.cache
pip-wheel-metadata
.pyre
.ipynb_checkpoints
celerybeat.pid
pytestdebug.log
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.orig
*.rej
